[submodule "enhancd"]
	path = enhancd
	url = https://github.com/b4b4r07/enhancd
[submodule "diff-so-fancy"]
	path = diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
